@import "index.scss";
.wrap-admin-product {
  .title {
    color: $main-color;
    font-weight: 600;
    text-shadow: 0 0 2px $main-color;
  }
  td {
    vertical-align: middle;
  }
  .css-1fdsijx-ValueContainer {
    min-width: 88px;
    @media (max-width: 576px) {
      min-width: 50px;
    }
  }
  input.search.form-control {
    padding: 0.5rem 0.75rem;
    &:focus {
      border-color: $main-color;
      box-shadow: none;
    }
  }
}
