@import "../../index.scss";
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  left: 0;
}
.content {
  margin-top: 132px;
  @media (max-width: 768px) {
    margin-top: 93px;
  }
}
.wrapper {
  .fixed-bottom {
    right: 20px;
    left: auto;
    bottom: 130px;
    z-index: 9999;
  }
  .scrollIcon {
    color: $primary-color;
  }
  .scrollToTop {
    scroll-behavior: smooth;
  }
}
