@import "index.scss";
.swiper-button-prev,
.swiper-button-next {
  color: $primary-color;
}
.swiper-pagination-bullet-active {
  background-color: $primary-color;
}
.caption {
  top: 30%;
  left: 12%;
  right: 50%;

  h6 {
    color: $primary-color;
  }
  a {
    letter-spacing: 2px;
  }
  @media (max-width: 500px) {
    top: 50%;
    transform: translateY(-50%);
    .buttonRedirect {
      display: inline-flex;
      align-items: center;
      height: fit-content;
      padding: 0.25rem 0.5rem !important;
      .redirectShop {
        font-size: 0.5rem;
      }
    }
  }
}
