@import '../../../index.scss';
.swiper-slide{
    img{
        width: 100%;
        object-fit: cover;
        transition: all ease-in-out 0.5s;
        &:hover{
            scale: 1.1;
        }
    }
}
.title{
    transition: all ease-in-out 0.5s;
    &:hover{
        color: $primary-color
    }
}
.contentBlog{
    display: none;
}
.show{
    display: block;
}
