@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.container {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  font-size: 16px;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$primary-color: #e53637;
$second-color: #f3f2ee;
$main-color: #5b2434;
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
* {
  box-sizing: border-box;
}
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 1.325rem;
  }
  h5 {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
  h2 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.85rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}
